body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image : url('배경색.jpg');
    background-size : cover;
    font-family:'Courier New', Courier, monospace
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* 약간 투명한 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* 다른 요소보다 앞에 위치 */
    opacity: 1;
    transition: opacity 2s ease; /* 페이드 아웃 효과 */
}

/* 이미지 중앙 정렬 */
#titleImage {
    width: 500px; /* 이미지 크기 */
    opacity: 1;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
#icons-row1, #icons-row2 {
    display: flex;
    justify-content: center;
    margin: 5px 0; /* 위아래 간격 */
}

.icon {
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.icon.selected {
    border: 2px solid black;
}

span {
    margin-top: 10px; 
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}
#iconSelection {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
}

#confirmIconX,
#confirmIconO {
    margin: 10px 0; /* 위아래 여백 추가 */
    text-align: center; /* 가운데 정렬 */
    cursor: pointer;
}
#spanContainer {
    display: flex; /* 버튼을 수평으로 배치 */
    justify-content: center; /* 버튼을 중앙 정렬 */
    position: relative;
    left:30px;
    margin: 20px;
    cursor: pointer;
}
#restartBtn{
    cursor: pointer;
}
.buttons{
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}
p{
    font-weight: bold;
}