body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image : url('배경색.jpg');
    background-size : cover;
    font-family:'Courier New', Courier, monospace
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    transition: opacity 2s ease; /* 페이드 아웃 효과 */
}

#titleImage {
    width: 500px;
    opacity: 1;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
#icons-row1, #icons-row2 {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.icon {
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.icon.selected {
    border: 2px solid black;
}

span {
    margin-top: 10px; 
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}
#iconSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#confirmIconX,
#confirmIconO {
    margin: 10px 0; 
    text-align: center;
    cursor: pointer;
}
#spanContainer {
    display: flex;
    justify-content: center;
    position: relative;
    left:30px;
    margin: 20px;
    cursor: pointer;
}
#restartBtn{
    cursor: pointer;
}
.buttons{
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}
.buttons:hover{
    background-color: rgba(102, 178, 255, 0.5);
}
p{
    font-weight: bold;
}
@media (orientation: portrait) {
    #titleImage{
        width: 100px;
    }
    .icon{
        font-size: 20px;
    }
}
